<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scout_attempt1155">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
     <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
         <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

         <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
    </intent-filter>
</receiver>
<receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
